<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="CorName" value="旷真集团"/>
    <add key="SystemName" value="旷真云"/>
    <add key="ProjectName" value="旷真集团ERP管理系统"/>
    <add key="ConnectionString" value="data source=.;user id=sa;password=sa123456;database=ceshihuanjing"/>
  </appSettings>
</configuration>
