
@{
    Layout = null;
    ViewBag.Title = "EditIndex";
}
<div class="easyui-tabs-content">
    <div class="datagrid-content">
        <table class="easyui-datagrid-test"></table>
    </div>
    <script>
        $('.easyui-datagrid-test').edatagrid({
    url: 'datagrid_data.json',
    saveUrl: ...,
    updateUrl: ..., 
    destroyUrl: ...
});
    </script>
</div>